GO_REST_ENV=dev

GIN_MODE=debug
POSTGRES_HOST=postgresql-db
POSTGRES_USER=usuario
POSTGRES_PASSWORD=password
POSTGRES_DB=base_de_datos
POSTGRES_PORT=5432

DB_USER=usuario
DB_PASS=password
DB_DB=base_de_datos
DB_URL=localhost:27017

ADDR=0.0.0.0:3001

JWT_KEY=eyJhbGciOiJIUzI1NiJ9.eyJSb2xlIjoiQWRtaW4iLCJJc3N1ZXIiOiJJc3N1ZXIiLCJVc2VybmFtZSI6IkphdmFJblVzZSIsImV4cCI6MTY5MjIyOTIwMCwiaWF0IjoxNjkyMjI5MjAwfQ.NoMHg0bEM9MYFDPfrGOmSlRB9eS3ewVBINS6x5Lkxt8

#CORS_URLS: Agregar todos los dominios que tienen permitido usar la api separandolos por coma
CORS_URLS=http://localhost,http://localhost:3000
LOG_NAME=template-log
